h1{
    color: blue;
}
.new1{
    border-color: blue;
    border: 100px;
    margin: 20px;
    background-color:blue;
    padding: 60px;
    height: 405px;
    width: 350px;
    border-radius: 25px;
}